@import "~bulma/sass/utilities/all";

.headingImage img {
  max-height: 40vh;
  width: auto;
  margin: 0 auto;
}

.optionBox {
  composes: has-text-centered has-text-weight-bold has-text-white has-background-dark from global;

  padding: 15px 20px;
  &:hover {
    cursor: pointer;
    background-color: $black-ter !important;
  }
}

.selectedOption {
  composes: optionBox global(has-background-link);

  &:hover {
    background-color: $link-dark !important;
  }
}

.correctOption {
  composes: optionBox global(has-background-success);

  &:hover {
    cursor: default;
    background-color: $success !important;
  }
}

.incorrectOption {
  composes: optionBox global(has-background-danger);

  &:hover {
    cursor: default;
    background-color: $danger !important;
  }
}

.optionLabel {
  display: flex;
  justify-content: center;
  position: relative;
}

.optionIcon {
  position: absolute;
  right: 0;
}
