@import "~bulma/sass/utilities/all";

$google: #4285f4;
// Same as base color, minus 7 for each value (Bulma does this for hover)
$googleDark: #3b7eed;
$gitHub: #24292e;
$gitHubDark: #1d2227;
$facebook: #4267b2;
$facebookDark: #3b60ab;

.authButton {
  min-width: 210px;
}

.google {
  composes: authButton;
  background-color: $google;
  color: findColorInvert($google);

  &:hover,
  &:active,
  &:focus {
    background-color: $googleDark;
    color: findColorInvert($googleDark);
  }
}

.gitHub {
  composes: authButton;
  background-color: $gitHub;
  color: findColorInvert($gitHub);

  &:hover,
  &:active,
  &:focus {
    background-color: $gitHubDark;
    color: findColorInvert($gitHubDark);
  }
}

.facebook {
  composes: authButton;
  background-color: $facebook;
  color: findColorInvert($facebook);

  &:hover,
  &:active,
  &:focus {
    background-color: $facebookDark;
    color: findColorInvert($facebookDark);
  }
}
